<header>
  <nav class="header-nav">
    <h1><a href="/">Yourneys</a></h1>
    <div class="profile-nav">
      <img src="https://image.flaticon.com/icons/png/512/146/146005.png" alt="profile-picture">
    </div>
  </nav>
</header>