<nav class="nav-bar">
  <ul>
    <li><a class="icon icon-pushpin" href="#"></a></li>
    <li><a class="icon icon-search" href="#"></a></li>
    <li><a class="icon icon-plus" href="/create"></a></li>
    <li><a class="icon icon-heart" href="#"></a></li>
    <li><a class="icon icon-home2" href="#"></a></li>
  </ul>
</nav>