.button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: $color-fg;
  background-color: $color-button-bg;
  border: 1px solid $color-fg;
  border-radius: 5px;
  cursor: pointer;
  
  &.danger {
    color: $color-inverse-fg;
    background-color: $color-button-danger-bg;
  }
}