form {

  &.is-processing {
    opacity: 0.5;
  }

  .field {
    margin-bottom: 20px;

    &.has-error {
      label {
        color: red;
      }
      input {
        border: 1px solid  red;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-style: bold;
  }

  input {
    padding: 5px;
    font-size: 16px;
  }

  .submit {
    padding-top: 20px;

    button {
      padding: 5px 20px;
      text-align: center;
      font-size: 16px;
      background-color: #27afdc;
      cursor: pointer;
    }
  }

  .validation {
    margin: 5px 0 10px;
    color: red;
  }

}
