$color-fg: #111;
$color-bg: #eee;  
$color-link: rgb(20, 137, 214);

$color-inverse-fg: #eee;  
$color-inverse-bg: #111;
$color-inverse-link: rgb(20, 137, 214);

$color-aside-bg: #ccc; 

$color-button-bg: #b1b1b1;
$color-button-danger-bg: #ff4848;